.postion-container {
    max-width: 100%;
    height: 80%;
    background-color: white;
}
.box1 {
    width: 100%;
    height: 300px;
    background-color: rgb(151, 150, 150);
    position: absolute;
    left: 0;
    top: 0;
}
.box1 img {
    width: 650px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 400%;
    transform: translate(-50%, -400%);
    box-shadow: 0px 4px 21px 0px #000000;
}
.box2 {
    width: 100%;
    height: 85px;
    background-color: #454545;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
}
.box2 img {
    padding: 20px 70px;
}
.container button {
    display: block;
    width: 180px;
    height: 30px;
    background: linear-gradient(0deg, #ff7b00 0%, #f9d315 100%);
    margin: 30px;
    border: none;
    color: white; 
}
.box3 {
    width: 100%;
    height: 50%;
    background-color: rgb(192, 192, 192);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -300px;
}
#menu-links {
    color: white;
    display: flex;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
}
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.box1 h1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 80px;
    margin-bottom: -85px;
    color: white;
}
.box1 p {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
}
.box3 h1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: gray;
}
.container2 {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 10px;
}
.container2 img {
width: 100px;
height: 100px;
}
.main-menu-box-text {
    width: 20px 20px;
}
.box2 li {
    padding: 20px;
}
.box5 {
    width: 225px;
    height: 250px;
    background-color: black;
    position: absolute;
    left: 58.3%;
    top: 33.8%;
    z-index: 3;
    opacity: 0.73;
}
.box5 h3 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    opacity: 1;
    color: white;
    margin-bottom: -10px;
}
.box5 h5 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    opacity: 1;
    color: white;
}
.box5 button2 {
    display: block;
    width: 150px;
    height: 25px;
    text-align: center;
    background: linear-gradient(0deg, #303030 0%, #948f8f 100%);
    margin: 5px 2px;
    border: none;
    color: white; 
}
 