.container p:nth-child(3):hover {
    background-color: rgb(246, 190, 248);
}
.container p:nth-child(2) {
    background-color: rgb(85, 179, 211);
}
.container p:nth-child(4) {
    font-weight: bold;
    font-size: 20px;
    color: darkseagreen;
}
.container p:nth-child(1) {
    color: rgb(232, 99, 99);
    font-family: sans-serif;
}
.container p:nth-child(5) {
    font-family: monospace;
}
.container p:nth-child(6) {
    font-family: sans-serif;
}
.container p:nth-child(8) {
    font-style: oblique;
}
.container p:nth-child(7) {
    text-decoration: line-through;
}